Source: funca
Section: math
Priority: optional
Maintainer: Matvii rpjc <matvey5i@ukr.net>
Build-Depends: debhelper-compat (= 12), autotools-dev

Package: funca
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Trigonometric calculator
 A program that calculates trigonometric functions using Taylor series.